
{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}

<!--

<html>
    <head>
        <title>Tutorial de Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">

    </head>
    <body>
      <div>
        <h1>
          <a href = "/"> Sigue el tutorial de Django Girls. </a >
        </h1>
        </div >
        {% for post in posts %}
        <div>
        <p> publicado: {{ post.published_date }} </p >
        <h1 ><a href = "" >{{ post.title }} </a ></ h1 >
        <p>{{ post.text|linebreaksbr }} </p >
        </div>{% endfor %}

        <div>
            <h1><a href="/">Blog intergaláctico</a></h1>
        </div>

        <div>
            <p>published: 06.11.2018, 00:03</p>
            <h2><a href="">José Maza lidera el primer curso de astronomía gratuito y en línea de la U. de Chile</a></h2>
            <p>Abrir la astronomía a toda la ciudadanía y a las comunidades educativas para que se familiaricen con los principales fenómenos cotidianos, tales como eclipses, cometas, mareas y superlunas, es lo que busca el programa "Acercándonos a las estrellas", que inicia sus clases este 22 de mayo.</p>
        </div>

        <div>
            <p>published: 06.11.2018, 00:03</p>
            <h2><a href="">Qué es Arduino, cómo funciona y qué puedes hacer con uno</a></h2>
            <p>Arduino es una plataforma de creación de electrónica de código abierto, la cual está basada en hardware y software libre, flexible y fácil de utilizar para los creadores y desarrolladores. Esta plataforma permite crear diferentes tipos de microordenadores de una sola placa a los que la comunidad de creadores puede darles diferentes tipos de uso.</p>
        </div>
    </body>
</html>
-->
